@mixin for-mobile {
  @media only screen and (max-width: #{$breakpoint-tablet-portrait}) {
    @content;
  }
}

@mixin for-tablet-portrait {
  @media only screen and (min-width: #{$breakpoint-tablet-portrait}) {
    @content;
  }
}

@mixin for-tablet-landscape {
  @media only screen and (min-width: #{$breakpoint-tablet-landscape}) {
    @content;
  }
}

@mixin for-desktop {
  @media only screen and (min-width: #{$breakpoint-desktop}) {
    @content;
  }
}
