
// Font families
$text-font-family: 'Cormorant Upright', serif;
$title-font-family: 'Junge', serif;

// Font sizes
$font-size-base: 1rem;
$font-size-small: $font-size-base - 0.2rem;
$font-size-medium: $font-size-base + 0.5rem;
$font-size-large: $font-size-base + 1rem;
$font-size-extra-large: $font-size-base + 2rem;
$font-size-h1: $font-size-base + 1.5rem;
$font-size-h2: $font-size-base + 1rem;


//Paddings
$gutter-padding: 10px;

// Colors
$light-moss-green:#B8DABE;
$gainsboro:#E9F4E9;
$baby-powder:#FAFFFA;
$grey:#B9C1BC;
$onyx:#363646;
$dark-green:rgb(9, 70, 22);

// Main components colors

/* $main-text-color: $color-mightly-slate;
$links-color: $color-grandmas-pillow;
$links-hover-color: $color-cheery-pink;
$brand-color: $color-cheery-pink;
$shadow-color: lighten(black, 30%);
$border-color: $color-mightly-slate;
$button-background: $color-mightly-slate;
$error-color: $color-grandmas-pillow;
$outline-color: $color-pacifica; */

// Transitions
$default-transition-time: 0.25s;

// Responsive breakpoints
$breakpoint-mobile-landscape:320px;
$breakpoint-tablet-portrait: 520px;
$breakpoint-tablet-landscape: 750px;
$breakpoint-desktop: 1000px;

// Layout sizes
$header-height: 68px;