@import "mixins/text-overflow-ellipsis";

.articles-list {
    
    @include for-tablet-landscape{
        margin-top: 80px;
    }

  .articles {
    display: grid;
    border-bottom: 1px solid $grey;
    grid-template-columns: 70px auto;


    .cover{
        border: 1px solid $grey;
        align-self: center;
        justify-self: center;
        width: 70px;
        height: 70px;
        position: relative;
        display: inline-block;
        overflow: hidden;
        margin: 0;


        & img{
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            min-height: 100%;
            min-width: 100%;
            transform: translate(-50%, -50%);
        }

      }

    .info{
        padding: 10px;
        h2{
            margin: 0;
            line-height: 1;
        }
        text {
            @include text-overflow-ellipsis;
        }
        & img, a {
            display:none;
        }
    }
  }
}