@import "mixins/text-overflow";
@import "mixins/resize-image";

.articles-list {
    .articles {
        display: grid;
        align-items: center; 
        border-bottom: 1px solid $border-color;
        @include resize-image(70px);
        &:hover {
            box-shadow: 0 0 5px $hover-component-color;
            background: lighten($hover-component-color, 20%);
        }
        &:active {
            box-shadow: 0 0 1px $hover-component-color;
        }
        .cover{
            align-self: center;
            justify-self: center;
            position: relative;
            display: inline-block;
            border-radius: 10px;
            overflow: hidden;

            & .article-cover{
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        .info{
            padding: $gutter-padding 15px;
            overflow: hidden;
            a>.title{
                margin:0;
                margin-bottom: 5px;
                line-height: 1;
                font-size: $font-size-medium;
            }
            .published-date{
                font-size: $font-size-small;
                line-height: 0.8;
                margin:0;
            }
            & .hide-elements {
                display:none;
            }
        }
    }

    @include for-tablet-portrait{
        width: 90%;
        margin: 0 auto;

        .articles{
            @include resize-image(150px);
            .info{
                .hide-elements{
                    display: block;
                }
                .author-wrapper{
                    display: flex;
                    height: 40px;
                    align-items: center;

                    .profile-picture{
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                    }
                    .author{
                        font-size: $font-size-base;
                        padding: $gutter-padding;
                    }
                }
                .text {
                margin-bottom: 30px;
                @include text-overflow;
                 }
        
                .bottom-info-wrapper{
                    display: grid;
                    justify-self:stretch;
                    align-items: center;
                    grid-template-columns: 3fr 3fr 1fr;
                    grid-gap: 10px;
                    font-size: $font-size-medium;
                    .comments{
                        font-size: $font-size-medium;
                        justify-self: end;
                    }
                }
            }
        }
    }
    @include for-tablet-landscape{
        margin-top: 100px;
        width: 80%;
        .articles{
             @include resize-image(300px);
                & .article-cover{
                    min-height: 300px;
                }
           .info{
                font-size: $font-size-medium;
                a .title{
                    font-size: $font-size-large;
                }
               .author-wrapper{
                    margin:10px 0;
                    .profile-picture{
                        width: 40px;
                        height: 40px;
                    }
                    .author{
                        font-size: $font-size-medium;
                    }
                }
               .text-wrapper{
                    height: 110px;
                    overflow: hidden;
                    margin:30px 0;
                    & .text{
                        white-space: normal;
                    }
                }
                .published-date{
                    font-size: $font-size-medium;
                }
            }
        }
    }
    @include for-desktop{
        width: 70%;
        .articles{
            padding: $gutter-padding !important;
            @include resize-image(350px);
            .info {
                a .title{
                    font-size: $font-size-extra-large;
                }
            }
        }
    }
}