*, *::after, *::before, *:after, *:before{
  box-sizing: border-box;
}

body{
  font-family: $text-font-family;
  background: $baby-powder;
  padding-top: $header-height;
}

a{
  font-size: $font-size-medium;
  text-decoration: none;
  transition: all 0.2s linear;
  color: grey;
    a:hover {
      color: brown;
    }
}

img{
  max-width: 100%;
}

