.comments-list-title{
    text-align: center;
    margin:0;
    color:$dark-green;
    font-size: $font-size-large;

    .fas{
        position: absolute;
        right: 10%;
    }
}

.comments-list{
    display: grid;
    grid-gap: 2px;
    justify-content: stretch;
    justify-items: center;
    padding: $gutter-padding;

    .comments{
        padding: 0 $gutter-padding;
        width: 80%;
        background: $gainsboro;
        border-radius:15px;

        .fullname{
            font-size: $font-size-medium;
            color: rgb(75, 11, 11);
        }
        .email{
            font-size: $font-size-small;
        }

        .comment-text{
            margin: 10px 0;
        }




    }



}