.comments-list-title{
    text-align: center;
    margin:0;
    color:$title-color;
    font-size: $font-size-large;
    .fas{
        position: absolute;
        right: 10%;
    }
}
.comments-list{
    display: grid;
    grid-gap: 2px;
    justify-content: stretch;
    justify-items: center;
    padding: $gutter-padding;

    .comments{
        padding: $gutter-padding;
        width: 80%;
        background: $comments-background;
        border-radius:15px;

        .fullname{
            font-size: $font-size-medium;
            color: $title-color;
        }
        .email{
            font-size: $font-size-small;
        }
        .comment-text{
            margin: 10px 0;
        }

        @include for-tablet-landscape{
            .fullname{
                font-size: $font-size-large;
            }
            .email{
                font-size: $font-size-base;
            }
            .comment-text{
                font-size: $font-size-medium;
            }
        }
    }



}