
.modal{
    display: none;
}
.comments-form{
    display: grid;
    justify-items: center;
    grid-gap: 2px;
    justify-content: stretch;
    padding: $gutter-padding;

    label{
        display: none;
    }
    .input{
        padding: 0.8rem;
        letter-spacing: normal;
        border: 0px solid;
        border-bottom: .5px solid $border-color;
        width: 95%;
        font-size: $font-size-medium;
    }

    .submit-button{
        display:none;
        
        border: 0px solid;
        background-color: $comments-background;
        color: $title-color;
        font-size: $font-size-medium;
        margin:10px;
        border-radius:15px;
        max-width: 250px;
    }
    .error{
        border: 1px solid $error-color;
    }
  
    @include for-tablet-landscape{
        .input{
            width: 50%;
        }
    }

}
.hidden{
    display: grid;
}

