.web-footer {
  display: flex;
  width:100vw;
  align-items: center;
  justify-content: center;
  bottom: 0;
  font-size: $font-size-base;
  background: $gainsboro;
  p {
    padding: 0 10px;
  }
  a{
    position: absolute;
    right: 10%;
    ;
  }
}