.web-footer {
  display: flex;
  padding:$gutter-padding;
  width:100vw;
  align-items: center;
  justify-content: space-around;
  bottom: 0;
  font-size: $font-size-small;
  background: $background-color;

  .footer-element{
    color: $title-color;
  }

  @include for-tablet-portrait{
    font-size: $font-size-medium;
  }
}