@import 'mixins/hover-color.scss';
.web-header{
  position:fixed;
  width: 100vw;
  z-index: 99999;
  top: 0;
  padding:$gutter-padding;
  background:white;

  .web-title{
    font-size: $font-size-h1;
    font-family: $title-font-family;
    width: 100%;
    min-width: 260px;
    padding-left: $gutter-padding;
    text-align: left;
    margin: 0 auto;
    color: $dark-green;
  }

  .fa-bars{
    position: absolute;
    top: 17px;
    right: 10px;
    color: $onyx;
    font-size: $font-size-large;
    padding:0 $gutter-padding;
  }
  .header-components {
    display: none;
  }

  @include for-mobile-landscape{
    .web-title {
      text-align: center;
    }
  }

  @include for-tablet-landscape{
    .fa-bars{
      display: none;
    }
    .web-title {
      text-align: center;
    }
    .header-components{
      display:flex;
    }
    &>a{
      position: absolute;
      top: 20px;
      right: 180px;
      color:$dark-green;
    }
    input {
      position: absolute;
      color:$grey;
      top: 20px;
      font-size:$font-size-medium;
      right: 10px;
      width: 140px;
      cursor: pointer;
      border: 0px solid;
      background:$gainsboro;
    }
    ul {
      margin:0 auto;
      padding-top: $gutter-padding;
    }
    .categories-list li{
      display:inline-block;
      padding: .5rem 1rem;
      @include hover-color;
    }
  }

  &.show-menu{

    @keyframes fadeIn {
      from { opacity: 0; }
        to { opacity: 1; }
    }

    .header-components {
      animation: fadeIn 1s;
      display: flex;
      flex-direction: column;

      ul{
        margin: 0;
        padding:0;

        li{
          list-style-type: none;
          padding: 8px;
          text-align: center;
          @include hover-color;
        }
      }
    }

    #sign-in-link{
      text-align: center;
      margin-top:5px;
      color:$dark-green;
    }
    #search-input{
      margin: 10px auto;
    }
  }

}





