<form class="comments-form">  
  <label for="fullname">Full name</label>
  <input class="fullname input" type="text" name="fullname" id="fullname" placeholder="Fullname" required>
  <label for="email">Email</label>
  <input class="email input" type="email" name="email" id="email" placeholder="Email" required>
  <label for="comment">Comment</label>
  <textarea class="textarea input" name="comment" id="comment" maxlength="500" placeholder="Write a comment (500 characters maximum)" required></textarea>
  <button class="submit-button input" disable>Submit comment</button>
</form>
