<body>
  <header class="web-header">
    <h1 class="web-title">Topicaly</h1>
    <i class="fas fa-bars"></i>  
    
    <nav class="header-components">
      <ul class="categories-list">
        <li><a href="#">Culture</a></li>
        <li><a href="#">Tech</a></li>
        <li><a href="#">Science</a></li>
        <li><a href="#">Design</a></li>
        <li><a href="#">Lifestyle</a></li>
        <li><a href="#">Popular</a></li>
      </ul>
    </nav>
    <a href="#" class="header-components" id="sign-in-link">Sign in</a>
    <input id="search-input" class="header-components" type="search" name="search-field" id="search-field" placeholder="Search">
  </header>